<div class="container card">
  <div class="card-header">
    <h3>Snake Cube <span class="badge badge-secondary">Solver</span></h3>
  </div>  
  <div class="form-row card-body">
    <div class="col">
      <input type="text" class="form-control" #coordinateX placeholder="X">
    </div>
    <div class="col">
      <input type="text" class="form-control" #coordinateY placeholder="Y">
    </div>
    <div class="col">
      <input type="text" class="form-control" #coordinateZ placeholder="Z">
    </div>
    <div class="col-4">
      <input type="text" class="form-control" #segment placeholder="Segment">
    </div>
    <button (click)="onSend(coordinateX.value,coordinateY.value,coordinateZ.value,segment.value)" class="btn btn-primary mb-2">Go</button>
  </div>


  <p *ngIf="vectors">
    <ngb-alert type="card-header" [dismissible]="false">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Start from</th>
          <th scope="col">Vectors</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{startFrom}}</td>
          <td>{{vectors}}</td>
        </tr>
        </tbody>
      </table>    
    </ngb-alert>
  </p>

  <p *ngIf="error">
    <ngb-alert type="danger" [dismissible]="false"><strong>Whoa!</strong> {{error}}</ngb-alert>
  </p>
</div>